<body>
  <div class="container">
    <ul class="nav nav-tabs">
          <li class="active theatremenu"><a data-toggle="tab" href="#addmapping">Add Mapping</a></li>
          <!-- <li class="theatremenu" ><a data-toggle="tab" href="#managemapping">Edit Mapping Details</a></li> -->
          <li class="theatremenu" ><a data-toggle="tab" href="#viewmapping">View Mappings</a></li>
          <li class="theatremenu" ><a data-toggle="tab" href="#fixprices">Fix Show Prices</a></li>
          <li class="theatremenu" ><a data-toggle="tab" href="#deleteseatbooking">Delete Seat Booking</a></li>
          <li class="theatremenu" ><a data-toggle="tab" href="#deletemapping">Delete Mappings</a></li>
          <!-- <li class="theatremenu" ><a data-toggle="tab" href="#viewmapping">View Mappings</a></li> -->
    </ul>
    <!--Nav Tab Content-->
    <div class="tab-content">
      <!--Nav Tabs -->
      <div id="#addmapping" class="tab-pane fade in active">
        <!--Add Mappings-->
        <div class="row">
          <div class="col-md-6"><h5 class="mapmenu">Select A Movie To Map</h5>
              <select class="form-control" ng-model="moviesmappingCtrl.selectedMovieName">
                <option ng-repeat="movie in moviesmappingCtrl.movieNames">{{movie.Name}}</option>
              </select>
          </div>
          <div class="col-md-6"><h5 class="mapmenu">Select Theatres To Map</h5>
              <select class="city form-control" ng-model="moviesmappingCtrl.selectedCityName">
                <option ng-repeat="city in moviesmappingCtrl.cityNames | unique:City">{{city}}</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5"><h5 class="mapmenu"> All Theatres Names</h5>
            <select multiple="multiple" size="6" class="form-control" ng-model="moviesmappingCtrl.selectedTheatreOption">
              <option ng-repeat="theatres in moviesmappingCtrl.theatreDetails | filter:{City:moviesmappingCtrl.selectedCityName}">{{theatres.TheatreName}}:{{theatres.PlaceName}}</option>
            </select>
          </div>
          <div class="col-md-2" id="buttons"></br>
            <input style="margin-left:50px" type="button" id="singleselect" value=" >> " ng-click="moviesmappingCtrl.addSelectedTheatres()"></input></br>
            <input style="margin-left:50px" type="button" id="multipleselect" value=">>>" ng-click="moviesmappingCtrl.addAllTheatres()"></input></br>
            <input style="margin-left:50px" type="button" id="singlereverse" value=" << " ng-click="moviesmappingCtrl.reverseSelectedTheatres()"></input></br>
            <input style="margin-left:50px" type="button" id="multiplereverse" value="<<<" ng-click="moviesmappingCtrl.reverseAllTheatres()"></input></br>
          </div>
          <div class="col-md-5"><h5 class="mapmenu">Selected Theatres Names</h5>
            <select id="theatresselected" multiple="multiple" size="6" class="form-control" ng-model="moviesmappingCtrl.reversedTheatreOption">
              <option ng-repeat="theatres in moviesmappingCtrl.selectedTheatres | filter:{City:moviesmappingCtrl.selectedCityName}">{{theatres.TheatreName}}:{{theatres.PlaceName}}</option>
            </select>
          </div>
        </div>
        <div class="row" id="mapdetails">
          <div class="col-md-6" ng-show="moviesmappingCtrl.isTheatreSelected">
            <div class="form-group">
              <h5 class="mapmenu">Select Show Times </h5>
              <table border="2">
                <tr><th width="200px">TheatreName</th><th width="200px">PlaceName</th><th width="200px">ShowTimes</th></tr>
                <tr ng-repeat="theatre in moviesmappingCtrl.displayTheatres"><td>{{theatre.TheatreName}}</td><td>{{theatre.PlaceName}}</td>
                <td><table><tr><td class="timestomap" ng-repeat="showtime in theatre.ShowTimes" ng-click="moviesmappingCtrl.addTimes(showtime,theatre)">
                <div class="mark"><span class="glyphicon glyphicon-check uncheck"/></div><a href="#"><span class="glyphicon glyphicon-time">{{showtime.showTime}}</span></a></td>
                </tr></table></td></tr>
              </table>
            </div>
          </div>
          <div class="col-md-6" ng-show="moviesmappingCtrl.isTheatreSelected">
            <div class="form-group"><h5 class="mapmenu">Select Show Dates</h5>
              <table border="2">
              <tr>
                <td class="showDates" ng-repeat="dates in moviesmappingCtrl.displayDates" ng-click="moviesmappingCtrl.addDates(dates)">
                <div class="mark"><span class="glyphicon glyphicon-check uncheck"/></div><a href="#"> <span class="glyphicon glyphicon-calendar">{{dates.date}}</span></a>
                </td>
              </tr>
              </table>
              <button class="btn btn-success form-control save" ng-show="moviesmappingCtrl.isTheatreSelected" ng-click="moviesmappingCtrl.saveMapping()">Save Mapping</button>
            </div>
          </div>
        </div>
      </div>

      <!--Manage Mappings-->
      <div id="managemapping" class="tab-pane fade">
            <h3>Mappings Available</h3>
            <table border="2">
                <tr>
                  <th>Movie Name</th>
                  <th width="200px">TheatreName</th>
                  <th width="200px">PlaceName</th>
                  <th width="200px">CityName</th>
                  <th width="200px">ShowTimes</th>
                  <th>Dates</th>
                  <th>Edit</th>
                  <th>Save Edit Details</th>
                </tr>
                <tr ng-repeat="mapping in moviesmappingCtrl.mappings">
                  <td>{{mapping.MovieName}}</td>
                  <td>{{mapping.TheatreName}}</td>
                  <td>{{mapping.PlaceName}}</td>
                  <td>{{mapping.City}}</td>
                  <td>
                    <table>
                      <tr>
                        <td ng-repeat="showtimes in mapping.ShowTimings track by $index"><span class="glyphicon glyphicon-time">{{showtimes.showTime}}</span></td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td ng-repeat="date in mapping.MovieDates track by $index"><span class="glyphicon glyphicon-calendar">{{date}}</span></td>
                      </tr>
                    </table>
                  </td>
                  <td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="moviesmappingCtrl.editMapping()"></button></td>
                  <td><button class="btn btn-success glyphicon glyphicon-edit" ng-click="moviesmappingCtrl.saveEditMapping(mapping)">Save Edit</button></td>
                </tr>
              </table>
      </div>

      <!--View Mappings-->
      <div id="viewmapping" class="tab-pane fade">

          <h3>Mappings Available</h3>
          <table border="2">
              <tr>
                <th>Movie Name</th>
                <th width="200px">TheatreName</th>
                <th width="200px">PlaceName</th>
                <th width="200px">CityName</th>
                <th width="200px">ShowTimes</th>
                <th>Dates</th>
              </tr>
              <tr ng-repeat="mapping in moviesmappingCtrl.mappings">
                <td>{{mapping.MovieName}}</td>
                <td>{{mapping.TheatreName}}</td>
                <td>{{mapping.PlaceName}}</td>
                <td>{{mapping.City}}</td>
                <td>
                  <table>
                    <tr>
                      <td ng-repeat="showtimes in mapping.ShowTimings track by $index"><span class="glyphicon glyphicon-time">{{showtimes.showTime}}</span></td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td ng-repeat="date in mapping.MovieDates track by $index"><span class="glyphicon glyphicon-calendar">{{date}}</span></td>
                    </tr>
                  </table>
                </td>
                </tr>
            </table>
      </div>

      <!--Delete Mappings-->
      <div id="deletemapping" class="tab-pane fade">

          <h3>Mappings Available</h3>
          <table border="2">
              <tr>
                <th>Movie Name</th>
                <th width="200px">TheatreName</th>
                <th width="200px">PlaceName</th>
                <th width="200px">CityName</th>
                <th width="200px">ShowTimes</th>
                <th>Dates</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat="mapping in moviesmappingCtrl.mappings">
                <td>{{mapping.MovieName}}</td>
                <td>{{mapping.TheatreName}}</td>
                <td>{{mapping.PlaceName}}</td>
                <td>{{mapping.City}}</td>
                <td>
                  <table>
                    <tr>
                      <td ng-repeat="showtimes in mapping.ShowTimings track by $index"><span class="glyphicon glyphicon-time">{{showtimes.showTime}}</span></td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td ng-repeat="date in mapping.MovieDates track by $index"><span class="glyphicon glyphicon-calendar">{{date}}</span></td>
                    </tr>
                  </table>
                </td>
                <td ng-click="moviesmappingCtrl.deleteMapping(mapping)"><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"</span></button></td>
              </tr>
            </table>
      </div>

      <!--Fix Prices-->
      <div id="fixprices" class="tab-pane fade">
          <table border="2">
            <tr><th>TheatreName</th><th>PlaceName</th><th>CityName</th><th>MovieName</th><th>Date</th><th>ShowTime</th><th>GoldClassPrice</th><th>Enter Gold Show Price</th><th>SilverClassPrice</th><th>Enter Silver Show Price</th><th>Save Price</th></tr>
            <tr ng-repeat="seatBooking in moviesmappingCtrl.seatBookings">
              <td>{{seatBooking.TheatreName}}</td><td>{{seatBooking.PlaceName}}</td><td>{{seatBooking.CityName}}</td>
              <td>{{seatBooking.MovieName}}</td><td>{{seatBooking.Date}}</td><td>{{seatBooking.ShowTime}}</td>
              <td>{{seatBooking.GoldClassPrice}}</td>
              <td class="price">
                <input class="priceinput" type="number" placeholder="Rupees" ng-model="moviesmappingCtrl.goldClassPrice"/>ClickTo Enter The Value </td>
              <td>{{seatBooking.SilverClassPrice}}</td>
              <td class="price">
                <input class="priceinput" type="number" placeholder="Rupees" ng-model="moviesmappingCtrl.silverClassPrice"/>ClickTo  Enter The Value </td>
              <td><button class="btn btn-primary" ng-click="moviesmappingCtrl.fixPrice(seatBooking)"><i class="fa fa-inr"/>Fix Price <i class="fa fa-ticket"/></button></td>
            </tr>
          </table>
      </div>

      <!--Delete SeatBookings-->
      <div id="deleteseatbooking" class="tab-pane fade">
          <table border="2">
            <tr><th>TheatreName</th><th>PlaceName</th><th>CityName</th><th>MovieName</th><th>Date</th><th>ShowTime</th><th>GoldClassPrice</th><th>SilverClassPrice</th><th>Delete</th></tr>
            <tr ng-repeat="seatBooking in moviesmappingCtrl.seatBookings">
              <td>{{seatBooking.TheatreName}}</td><td>{{seatBooking.PlaceName}}</td><td>{{seatBooking.CityName}}</td>
              <td>{{seatBooking.MovieName}}</td><td>{{seatBooking.Date}}</td><td>{{seatBooking.ShowTime}}</td>
              <td>{{seatBooking.GoldClassPrice}}</td>
              <td>{{seatBooking.SilverClassPrice}}</td>
              <td><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="moviesmappingCtrl.deleteSeatBooking(seatBooking)">Delete</button></td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</body>
