.header
{
  position: static;
  min-width: 1200px;
}
h4
{
  color:#990033;
}
.title
{
  max-width: 800px;
  margin-left: 10px;
  position: static;
}
#mymovies
{
  margin-top: -10px;
  width:650px;
  height:170px;
  overflow: hidden;
  position: static;
  max-width: 1500px;
  border-radius: 2%;
}
.carousel-caption p
{
  color:white;
}
.carousel-control.left,
.carousel-control.right
{
    background-image: none
}
.carousel-indicators
{
  margin-bottom: -10px;
}
#img1
{
  width:700px;
  height:200px;
}

#img2
{
  width:700px;
  height:200px;
}

#img3
{
  width:700px;
  height:200px;
}

#img4
{
  width:700px;
  height:200px;
}
.navbar-text
{
  margin-left: 15px;
}

#header
{
  position: static;
}
.logo
{
  position: static;
  width:85px;
  height:60px;
}
table
{
  float:left;
  margin-right: 20px;
}
h2
{
  color:#990033;
}
.heart
{
  font-size: 18px;
}
.hearts
{
  font-size: 22px;
  text-align: left;
}
p{
  color:#990033;
}
table img
{
  width:220px;
  height:180px;
  border-radius: 2%;
}
.movie
{
  margin-top: 50px;
  margin-left: 0px;
}
.movie td
{
  width: 270px;
  font-size: 12px;
  color:#990033;
  margin-left: 1px;
}
.fa-heart
{
  color:#990033;
}

.fa-heart-o
{
  color:#990033;
}
.ratehearts
{
  display: inline;
  font-size: 25px;
}
.empty
{
  margin-left:-31px;
}
.full
{
  margin-left:-31px;
  visibility: hidden;
}

.fullinv
{
  visibility: hidden;
}

.fullv
{
  visibility: visible;
}

.book
{
  background-color:#990033;
  border-radius: 3%;
  color:darkgrey;
}
.bookseats
{
  background-color:#990033;
  border-radius: 3%;
  color:grey;
  width:300px;
  height: 50px;
}
.review
{
  background-color:#990033;
  border-radius: 3%;
  color:darkgrey;
}
