<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Search For Movie Details From OMDB API</h4>
      <input type="text" placeholder="Movie Title" ng-model="moviesCtrl.Title" required="required"/><hr/>
      <input type="text" placeholder="Movie Year" ng-model="moviesCtrl.Year"/><hr/>
      <input type="text" placeholder="Movie Language" ng-model="moviesCtrl.Language"/>
      <button class="btn btn-success glyphicon glyphicon-search moviesearch" ng-click="moviesCtrl.searchOMDB(moviesCtrl.Title,moviesCtrl.Year,moviesCtrl.Language)"/>
    </div>
    <div class="col-md-9">
      <table class="table" ng-show="moviesCtrl.isAvailable">
        <tr>
          <td>Movie Poster</td>
          <td>Movie Name</td>
          <td>Year</td>
          <td>Genre</td>
          <td>Add Movie</td>
        </tr>
        <tr>
          <td><img src="{{moviesCtrl.OMDBData.Poster}}" id="Poster"/></td>
          <td>{{moviesCtrl.OMDBData.Title}}</td>
          <td>{{moviesCtrl.OMDBData.Year}}</td>
          <td>{{moviesCtrl.OMDBData.Genre}}</td>
          <td><button class="btn btn-success" ng-click="moviesCtrl.AddMovie(moviesCtrl.OMDBData)">Add movie</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" class="moviesindb">
    <div class="col-md-12">
      <div class="form-group">
        <hr/><h4 align="center">Movies In Namma Cinema Database</h4>
        <table class="table">
          <tr>
            <td>Movie Poster</td>
            <td>Movie Name</td>
            <td>Year</td>
            <td>Genre</td>
            <td>Remove Movie</td>
          </tr>
          <tr ng-repeat="movie in moviesCtrl.movie">
            <td><img src="{{movie.Poster}}" height="50%" width="50%"/></td>
            <td>{{movie.Name}}</td>
            <td>{{movie.Year}}</td>
            <td>{{movie.Genre}}</td>
            <td><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="moviesCtrl.RemoveMovie(movie)"></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
