<div class="container">
  <!--Enter Payment Details To Book Seats-->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enter Payment Details</h4>
        </div>
        <div class="modal-body">
            <input Type="text" placeholder="UserName" ng-model="seatbookingCtrl.userName"/>
            <span style="color:red">+91</span><input type="number" placeholder="Mobile Number" ng-model="seatbookingCtrl.mobile"/>
            <h5>Choose Card</h5>
            <input type="radio" name="card" value="cc" ng-model="seatbookingCtrl.card"/>Credit Card<input type="radio" name="card" value="dc" ng-model="seatbookingCtrl.card"/>Debit Card<i class="fa fa-cc-visa"/><i class="fa fa-cc-amex"/><i class="fa fa-cc-mastercard"/><i class="fa fa-cc-paypal"/>
            <h4>Enter Card Details</h4>
            <input type="Number" ng-model="seatbookingCtrl.cardNumber" placeholder="16 digit card number"/>
            <input type="Date" ng-model="seatbookingCtrl.expDate"/>Exipry date
            <input type="number" ng-model="seatbookingCtrl.cvv"/><i class="fa fa-credit-card-alt"/> CVV
            <button class="btn btn-primary" ng-click="seatbookingCtrl.bookSeats()">Make A Payment</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Nav Tabs For Seatings and Tickets-->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#seatbooking">Book Seats</a></li>
    <li><a data-toggle="tab" href="#ticketdetails">Ticket Details</a></li>
  </ul>
  <div class="tab-content">
    <!-- Seatings-->
    <div id="#seatbooking" class="tab-pane active">
      <div class="row">
        <div class="col-md-6">
          <p class="ttip glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="bottom" data-original-title="Theatre Design for visual effects only."
            data-content="Happy Booking!">Click Me</p>

            <!-- Gold Classs Seatings -->
            <table class="{{seatbookingCtrl.GoldClassSelection}}"><caption><h5>{{seatbookingCtrl.goldClass}}</h5></caption>
              <tr>
                <td></td>
                <td ng-repeat="num in seatbookingCtrl.goldClassRowNum">{{num}}</td>
              </tr>
              <tr ng-repeat="row in seatbookingCtrl.seatbookingFinal.GoldClassSeats">
                <td>{{row.Row}}</td>
                <td ng-repeat="seat in row.SeatsInRow"><div ng-click="seatbookingCtrl.bookSeat(seat)" class="{{seat.Class}}" id={{seat.Seat}} data-original-title="{{seat.Seat}}" rel="tooltip">
                  <img class="sofa" src="assets/images/sofa.jpg" alt="sofa image not available"></img></div></td>
                <td>{{row.Row}}</td>
              </tr>
            </table>

            <!-- Silver Class Seatings -->
            <table class="{{seatbookingCtrl.SilverClassSelection}}"><caption><h5>{{seatbookingCtrl.silverClass}}</h5></caption>
              <tr>
                <td></td>
                <td ng-repeat="num in seatbookingCtrl.silverClassRowNum">{{num}}</td>
              </tr>
              <tr ng-repeat="row in seatbookingCtrl.seatbookingFinal.SilverClassSeats">
                <td>{{row.Row}}</td>
                <td ng-repeat="seat in row.SeatsInRow"><div ng-click="seatbookingCtrl.bookSeat(seat)" class="{{seat.Class}}" id={{seat.Seat}} data-original-title="{{seat.Seat}}" rel="tooltip">
                  <img class="chair" src="assets/images/chair.jpg" alt="sofa image not available"></img></div></td>
                <td>{{row.Row}}</td>
              </tr>
            </table>

          <!-- Theatre Screen-->
          <div class="screenmsg"><h5>Screen Towards This Side.</h5></div>
          <div><img class="screen" src="assets/images/screen.png" alt="screen image not available"></img></div>
        </div>
    <div class="col-md-1"></div>
    <div class="col-md-5"><hr/>
      <div align="center"><button type="button" class="btn btn-warning" ng-click="seatbookingCtrl.doAnotherBooking()"><i class="fa fa-refresh"/> Proceed For Another Booking</button></div>
      <hr/><h3 align="center">Payment Details</h3><hr/>Tickets
        <div><span ng-repeat="ticket in seatbookingCtrl.seatsDetails"><i class="fa fa-ticket">{{ticket}}</i><span></div>
        <h5>Gold Class Price per Ticket <span style="color:red">{{seatbookingCtrl.goldClassPrice}}<i class="fa fa-inr"/></span></h5>
        <h5>Silver Class Price per Ticket <span style="color:red">{{seatbookingCtrl.silverClassPrice}}<i class="fa fa-inr"/></span></h5>
        <h5>Number Of Seats booked <span style="color:red">{{seatbookingCtrl.noOfTickets}}<i class="fa fa-users"/></span></h5><hr/>
        <h5>Total Price <span style="color:red">{{seatbookingCtrl.totalPrice}}<i class="fa fa-inr"/></span></h5><hr/>
        <div align="center"><button type="button" ng-show="seatbookingCtrl.checkSeats" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-qrcode"/> Proceed To Pay</button></div>
    </div>
  </div>
</div>

  <!-- Tickets -->
  <div id="ticketdetails" class="tab-pane fade">
      <div ng-hide="seatbookingCtrl.tickets">
        <h3>  No Tickets Booked </h3>
      </div>
      <div ng-show="seatbookingCtrl.tickets">
        <h3>Ticket Details</h3><hr/>
        <div class="row">
          <div class="col-md-5">
            <div><h5>UserName <span style="color:red">{{seatbookingCtrl.userName}}</span>
            MobileNumber <span style="color:red">{{seatbookingCtrl.mobile}} </span>
            Seats<div><span style="color:red" ng-repeat="ticket in seatbookingCtrl.seatsDetailsFinal"><i class="fa fa-ticket">{{ticket}}</i><span></div>
            <h5>Number Of Seats booked <span style="color:red">{{seatbookingCtrl.noOfTicketsFinal}}<i class="fa fa-users"/></span>
            Total Price <span style="color:red">{{seatbookingCtrl.totalPriceFinal}}<i class="fa fa-inr"/></span></h5></div>
          </div>
          <div class="col-md-1">
            <img class="barcode" src="{{seatbookingCtrl.barcode}}"/>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img class="offers" src="{{seatbookingCtrl.offers}}"/><hr/>
          </div>
        </div>
      </div>
    </div><!--End Of Tab Panes-->
  </div><!--End Of Tab Content-->
</div><!--End Of Container-->
